@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "SF Pro Display", -apple-system-headline, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


a {
  font-color: #00000;
  text-decoration: none;
}

a:hover {
  color: #FF4725;
  text-decoration: underline;
}

footer {
  border-top:1px solid #ccc;
  padding: 2em;
}

.highlight {
  color: #FF4725;
  text-decoration: none;
}

.cta {background-color:#ff4725; color:#fff;}
.cta:hover {background-color:#000; color:#fff;}

/* Fix button layout in menu on mobile */
@media screen and (max-width: 767px) {
  .mobile-button {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Adjust spacing between icon and text as needed */
    flex-wrap: nowrap;
    margin-bottom: 1em;
  }
}

/* Fix profile bio formatting */
.preserve-formatting {
  white-space: pre-line;
}

